---
interface Props {
  title: string;
  phrase?: string;
  description?: string;
  text?: string;
  achievements?: string[];
}

const { title, description, text, achievements, phrase } = Astro.props;
---

<div class='relative py-24'>
  <img
    src='/about.png'
    alt='About section background'
    class='absolute top-0 right-0.5 object-contain w-[400px] sm:w-[400px] md:w-[450px] lg:w-[500px] h-full mix-blend-soft-light pointer-events-none opacity-90'
  />
  <div class='mx-auto relative z-10 px-4 sm:px-6 lg:px-8'>
    <div class='text-center flex flex-col items-center gap-2'>
      <h2 class='font-bold gradient-text'>
        {title}
      </h2>
      {description && <p class='subtitle mb-10 text-center'>{description}</p>}
      <h3>{text}</h3>
      {phrase && <p class='subtitle mb-10 text-center'>{phrase}</p>}
    </div>
  </div>
</div>
