---
interface Props {
  copyright: string;
}
const { copyright } = Astro.props;
---

<footer class='py-10'>
  <div class='flex justify-center text-center text-[var(--color-secondary)]'>
    <p set:html={copyright} />
  </div>
</footer>
