---
interface Props {
  title: string;
  description?: string;
  questions?: string[];
  id: string;
}

const { title, description, questions, id } = Astro.props;
---

<div class='py-24 flex flex-col text-center' id={id}>
  <h2 class='font-bold'>
    {title}
  </h2>
  <p class='subtitle'>
    {description}
  </p>
  <div class='items-center flex flex-col justify-center p-8 rounded-lg'>
    {
      questions?.map((question) => (
        <div class='p-4 rounded-lg transform hover:scale-105 transition-all duration-300 bg-[var(--color-primary)] shadow-lg mb-6 w-full flex items-center text-[var(--color-bg-alt)]'>
          <div class='w-8  rounded-full flex items-center justify-center mr-4 sm:mr-5 md:mr-6 flex-shrink-0'>
            <svg
              class='w-4'
              fill='none'
              stroke='currentColor'
              viewBox='0 0 24 24'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
              />
            </svg>
          </div>
          <p class='text-base md:text-lg text-left text-[var(--color-bg-alt)]'>
            {question}
          </p>
        </div>
      ))
    }
  </div>
</div>
