---
// Astro props
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<div class='py-24' id={id}>
  <!-- Fondo con gradiente y formas flotantes -->
  <div
    class='mx-auto text-center flex flex-col items-center relative z-10 px-4 sm:px-6 lg:px-8'
  >
    <h2 class='font-bold mb-10 drop-shadow-lg gradient-text'>
      {title}
    </h2>
    <div class='w-full mx-auto'>
      <div
        class='relative w-full h-0 pb-[56.25%] rounded-lg overflow-hidden shadow-lg'
      >
        <iframe
          class='absolute top-0 left-0 w-full h-full'
          src='https://www.youtube.com/embed/9LXsGXhyS0A?si=nZ5-eafM5IVgBk_D'
          title='YouTube video player'
          frameborder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          referrerpolicy='strict-origin-when-cross-origin'
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
