---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  hideNav?: boolean;
}

const copys = {
  nav: {
    navItems: [
      { label: "Evento", href: "#live-event" },
      { label: "Aprenderás", href: "#you-will-learn" },
      { label: "Conocer más", href: "#learn-more" },
      { label: "Para quién es", href: "#who-is-it-for" },
      { label: "Testimonios", href: "#testimonials" },
    ],
    ctaLabel: "Unirme",
    ctaHref: "#register",
  },
};

const { title = "Vivir Liviano", hideNav = false } = Astro.props;

const copyright =
  "© 2025 Made by <span class='font-extrabold'>Vivir Liviano</span>";
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/logo.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <script
      src='https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/cdn.min.js'
      defer></script>
  </head>
  <body>
    <Nav {...copys.nav} />
    <main class='flex flex-col items-center max-w-7xl justify-center mx-auto'>
      <slot />
    </main>
    <Footer copyright={copyright} />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
</style>
